* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	grid-template-rows: 50px 70% 20%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

main {
	grid-area: 2 / 2 / 3 / 4;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: repeat(7, 1fr);
}

footer {
	grid-area: 3 / 2 / 4 / 4;
	color: white;
}

header {
	grid-area: 1 / 1 / 2 / 4;
}

.top-nav-container {
	background: black;
	width: 100%;
	height: 50px;
}

.top-nav {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.top-nav-link {
	display: inline-block;
	color: #ffffff;
	padding: 1em;
}

.side-nav-container {
	grid-area: 2/1/4/2;
	background-color: lightgray;

}

.article-1 {
	grid-area: 1 / 1 / 3 / 2;
}

.article-2 {
	grid-area: 3 / 1 / 5 / 2;
}

.article-3 {
	grid-area: 5 / 1 / 7 / 2;
}

.pages-container {
	grid-area: 7 / 1 / 8 / 3;
}

.pages {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pages-link {
	display: inline-block;
	padding: .5em;
}

h2 {
	color: darkturquoise;
}

/*for the AD boxes*/
.box {
	text-align: center;
	border: 1px solid grey;
}

.box1 {
	margin: .7em;
	padding: 1em;
	grid-area: 1 / 2 / 2 / 3;
}

.box2 {
	margin: .5em;
	padding: 1.5em;
	grid-area: 2 / 2 / 3 / 3;
}

.box3 {
	margin: .7em;
	padding: 1em;
	grid-area: 3 / 2 / 4 / 3;
}

.box4 {
	margin: .5em;
	padding: 1.5em;
	grid-area: 4 / 2 / 5 / 3;
}

.box5 {
	margin: .7em;
	padding: 1em;
	grid-area: 5 / 2 / 6 / 3;
}

.box6 {
	margin: .5em;
	padding: 1.5em;
	grid-area: 6 / 2 / 7 / 3;
}

/*AD boxes end*/
.footer {
	background-color: darkgray;
	padding: 2em .5em;
	height: 70%;
}

.bottom-footer {
	background: #333333;
	padding: .5em;
	height: 30%;
}